/* table*/
table{
    border-radius: 5px;
    /*border-collapse: collapse;*/
    border: 3px solid rgb(32, 23, 23);
    text-align: center;
    min-height: 700px;
    margin-left: 25%;
   
    
}
tr td{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(32, 23, 23);
    font-size: 150%;
    padding: 50pt;
    width: 30%;
    max-width: 150%;
    border-radius: 5px;
   
}
tr{
    background-color:rgb(87, 41, 139);
    color: white;
    border-radius: 20px;
}

.boutton {
    background-color: rgb(87, 41, 139);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 25px;
  }